

<h4>My Cards</h4>

  
{{#each myCards}}
<div id="myCard">
    <p>{{event_name}}</p>
</div>
<div id="myCardPost">
    <p>edit</p>
    <p>delete</p>
</div>

{{/each}}





<script src="/js/profile.js"></script>
