


{{#if myCards}}
<h4>My Cards</h4>
{{/if}}

{{#each myCards}}
<div class="myCard" id="{{id}}">
    <p>{{event_name}}</p>
</div>
    <div id="myCardPost">
        <p>edit</p>
        <p>delete</p>
    </div>
{{/each}}




<script src="/js/profile.js"></script>
