<div id="filterbar" style="display:flex">
    <ul>
        <a href="/"><li>ALL</li></a>
        <a href="/categories/2"><li>EVENT</li></a>
        <a href="/categories/3"><li>VOLUNTEER</li></a>
        <a href="/categories/4"><li>SERVICE</li></a>
        <a href="/categories/5"><li>TRADE</li></a>
    </ul>
</div>