

{{name}}
<div id="filterbar" style="display:flex">
    <ul>
        <a href="/"><li id="all">ALL</li></a>
        <a href="/categories/2"><li id="1">EVENT</li></a>
        <a href="/categories/3"><li id="2">VOLUNTEER</li></a>
        <a href="/categories/4"><li id="3">SERVICE</li></a>
        <a href="/categories/5"><li id="4">TRADE</li></a>
    </ul>
</div>