
{{> header}}
    <main>
        {{> sortbar}}
        <div id="container">

            <h1>{{name}}</h1>
            <br>
                {{#each cards}}
                    {{> eachcardsorted }}
                {{/each}}

        </div>
    </main>