
{{> header}}
    <main>
        {{> sortbar}}
        <div id="container">

            <br>
            {{#each cards}}
                {{> eachcardsorted }}
            {{/each}}



        </div>
    </main>