
{{> header}}
    <main>
        {{> sortbar}}

        <div id="container">

            <div id='mainDiv'>
        
        
            {{#each card}}
                {{>eachcardsorted}}
            {{/each}}

            </div>
            
            
            
        </div>
    </main>

