    <header id="header">
        <div id="nav">
            <div id="header-left"></div>
            <div id="logo">
                <h1>CIRCLE</h1>
                <h3>COMMUNITY BULLETIN</h3>
            </div>
            <div id="header-right">
                <p>Welcome {{username}} &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/login">login</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/signup">signup</a></p>
            </div>
        </div>

    </header>
    <main>
        {{> sortbar}}

        <div id="container">

            <div id='mainDiv'>
        
        
            {{#each card}}
            {{event_name}}
                {{>eachcard}}
            {{/each}}

            </div>
            
            
            
        </div>
    </main>

