<h1>Welcome to my app! Login/Signup to start a project!!</h1>

<h3>Login:</h3>
<form id="loginForm">
    <input type="text" name="email" id='loginEmail' placeholder="email"/>
    <input type="password" name="password" id='loginPassword'/>
    <button>Login</button>
</form>

<h3>Signup:</h3>
<form id="signupForm">
    <input type="text" name="username" id='signupUsername' placeholder="username"/>
    <input type="text" name="email" id='signupEmail' placeholder="email"/>
    <input type="password" name="password" id='signupPassword'/>
    <button>Signup</button>
</form>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>

<script src="js/index.js">

mapboxgl.accessToken =
  "pk.eyJ1IjoianZwcm9maXRzMjgiLCJhIjoiY2tuMjRzdmg4MTQ5cTJubW94bW41MzlnNyJ9.jM6FpByBc8lm0jphn2EQKw";

function getApi(options) {
  var mapApi = `https://api.mapbox.com/geocoding/v5`;
}

window.navigator.geolocation.getCurrentPosition(function (position) {
  map.flyTo({
    center: [position.coords.longitude, position.coords.latitude],
    zoom: 11,
  });
});

</script>