
{{> header}}
    <main>
        <div id="container">
            <div id="form">
                <div id="loginHead">
                <h3>Login to your account</h3>
                </div>
                <div id="loginForm">
                    <form id="loginForm">
                        <input type="text" name="email" id='loginEmail' placeholder="email"/>
                        <input type="password" name="password" id='loginPassword'/>
                        <button>Login</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
<script src="js/index.js"></script>