    <header id="header">
        <div id="nav">
            <div id="header-left"></div>
            <div id="logo">
                <h1>CIRCLE</h1>
                <h3>COMMUNITY BULLETIN</h3>
            </div>
            <div id="header-right">
                <p>Welcome {{username}} &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/">logout</a></p>
            </div>
        </div>


    </header>
<form id="newCardForm">
    <input type="text" name="name" placeholder="Name" id="newCardName">
    <textarea id="newCardDescription" placeholder="Description"></textarea>
    <button>Create Card</button>
</form>

        </div>
    </main>