<h3>Signup:</h3>
<form id="signupForm">
    <input type="text" name="username" id='signupUsername' placeholder="username"/>
    <input type="text" name="email" id='signupEmail' placeholder="email"/>
    <input type="password" name="password" id='signupPassword' placeholder="password"/>
    <input type="text" name="zip" id='signupZip' placeholder="zip code"/>
    <button>Signup</button>
</form>

<script src="js/signup.js"></script>