
{{> header}}
    <main>
        <div id="container">
            <div id="mainDiv">
            {{>carddetail}}
            </div>
        </div>
    </main>
<script src="/js/newComment.js"></script>