
{{> header}}

    <main>
        <div id="container">
            <div id="mainDiv">
            {{>carddetail}}

            <button class="cardDelBtn" data-id={{id}}>Delete</button>
            </div>
            {{#if logged_in}} {{>sidebar}} {{/if}}
        </div>

    </main>

<script src="/js/newComment.js"></script>